In [1]:
import pandas as pd

In [2]:
url = "http://www.basketball-reference.com/leagues/NBA_2015_totals.html"
a = pd.read_html(url)
a[0].tail()
#a[0].isnull().sum()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [3]:
x=((a[0].isnull().sum())/675)*100
round(x,2)

Rk         0.00
Player     0.00
Pos        0.00
Age        0.00
Tm         0.00
G          0.00
GS         0.00
MP         0.00
FG         0.00
FGA        0.00
FG%        0.30
3P         0.00
3PA        0.00
3P%       12.00
2P         0.00
2PA        0.00
2P%        0.59
eFG%       0.30
FT         0.00
FTA        0.00
FT%        3.70
ORB        0.00
DRB        0.00
TRB        0.00
AST        0.00
STL        0.00
BLK        0.00
TOV        0.00
PF         0.00
PTS        0.00
dtype: float64

In [4]:
df=a[0]

In [5]:
Age= []
x=list(df["Age"])
for i in x:
    if i=='Age':
        Age.append('23')
    else:
        Age.append(i)
len(Age)

675

In [6]:
df['age']=pd.Series(Age)
df.drop(columns=['Age'],inplace=True)

In [7]:
df['age']=df['age'].astype(int)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 675 entries, 0 to 674
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      675 non-null    object
 1   Player  675 non-null    object
 2   Pos     675 non-null    object
 3   Tm      675 non-null    object
 4   G       675 non-null    object
 5   GS      675 non-null    object
 6   MP      675 non-null    object
 7   FG      675 non-null    object
 8   FGA     675 non-null    object
 9   FG%     673 non-null    object
 10  3P      675 non-null    object
 11  3PA     675 non-null    object
 12  3P%     594 non-null    object
 13  2P      675 non-null    object
 14  2PA     675 non-null    object
 15  2P%     671 non-null    object
 16  eFG%    673 non-null    object
 17  FT      675 non-null    object
 18  FTA     675 non-null    object
 19  FT%     650 non-null    object
 20  ORB     675 non-null    object
 21  DRB     675 non-null    object
 22  TRB     675 non-null    object
 23  AST     675 non-null    object
 24  STL     675 non-null    object
 25  BLK     675 non-null    object
 26  TOV     675 non-null    object
 27  PF      675 non-null    object
 28  PTS     675 non-null    object
 29  age     675 non-null    int32
dtypes: int32(1), object(29)
memory usage: 155.7+ KB

In [9]:
df['3P%'].isnull().sum()

81

In [10]:
df['3P%']=df['3P%'].fillna('.000')

In [11]:
p= []
x=list(df["3P%"])
for i in x:
    if i=='3P%':
        p.append('.001')
    else:
        p.append(i)
len(p)

675

In [12]:
df['3p%']=pd.Series(p)
df.drop(columns=['3P%'],inplace=True)

In [13]:
df['3p%'].unique()

array(['.300', '.400', '.000', '.354', '.337', '.352', '.345', '.274',
       '.308', '.348', '.273', '.340', '.159', '.341', '.001', '.301',
       '.350', '.236', '.327', '.513', '.384', '.323', '.366', '.405',
       '.362', '.500', '.271', '.222', '.284', '.281', '.324', '.250',
       '.364', '.409', '.235', '.374', '.304', '.356', '.200', '.355',
       '.365', '.375', '.268', '.195', '.387', '.371', '.214', '.266',
       '.429', '.293', '.326', '.385', '.318', '.382', '.379', '.378',
       '.636', '.667', '.256', '.415', '.370', '.381', '.395', '.297',
       '.143', '.402', '.294', '.342', '.286', '.333', '.360', '.314',
       '.545', '.313', '.265', '.373', '.267', '.386', '.311', '.353',
       '.282', '.100', '.443', '.302', '.472', '.450', '.233', '.083',
       '.167', '.338', '.357', '.407', '.320', '.185', '.278', '.347',
       '.329', '.154', '.403', '.262', '.285', '.279', '.270', '.125',
       '.361', '.188', '.317', '.750', '.393', '.176', '.462', '.359',
       '.417', '.390', '.448', '.418', '.298', '.332', '.305', '.476',
       '.316', '.179', '.204', '.369', '.331', '.358', '.321', '.306',
       '.376', '.349', '.389', '.299', '.133', '.426', '.404', '.368',
       '.406', '.067', '.077', '.413', '.295', '.216', '.238', '.351',
       '.296', '.336', '.492', '.420', '.241', '.343', '.367', '.310',
       '.315', '.182', '.261', '.391', '.307', '.396', '.287', '.421',
       '.206', '.231', '.212', '.434', '.392', '.485', '.380', '.339',
       '.292', '.427', '.398', '.111', '.433', '.246', '.263', '.275',
       '.463', '.455', '.625', '.423', '.437', '.280', '.309', '.247',
       '.277', '.372', '.255', '.244', '.344', '.335', '.383', '.243',
       '.330', '.322', '.171', '.283', '.401', '.439', '.419', '.105',
       '.432', '.319', '.444', '.714', '.158', '.258', '1.000'],
      dtype=object)

In [14]:
df['3p%']=df['3p%'].astype(float)
df['3p%']

0      0.300
1      0.400
2      0.000
3      0.000
4      0.354
       ...
670    0.330
671    0.292
672    0.380
673    1.000
674    0.000
Name: 3p%, Length: 675, dtype: float64