### Missing Values and Deleting Data points



### Step 1. Import the necessary libraries numpy, pandas etc

In [1]:
import pandas as pd

In [2]:
import numpy as np

### Step 2. Import the dataset *wine.txt* from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data) or from the folder

In [4]:
wine = pd.read_table("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data",sep=",",header=None)

### Step 3. Assign it to a variable called wine

Please note that the original data text file doesn't contain any header. Please ensure that when you import the data, you should use a suitable argument so as to avoid data getting imported as header.

In [5]:
wine=wine.head()

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [6]:
wine=wine.drop(columns=[0,3,6,8,10,12,13])

### Step 5. Assign the columns as below:

The attributes are (dontated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [7]:
wine.columns=['alcohol','malic_acid','alcalinity_of_ash','magnesium','flavanoids','proanthocyanins','hue']
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,14.23,1.71,15.6,127,3.06,2.29,1.04
1,13.20,1.78,11.2,100,2.76,1.28,1.05
2,13.16,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,113,3.49,2.18,0.86
4,13.24,2.59,21.0,118,2.69,1.82,1.04

### Step 6. Set the values of the first 3 values from alcohol column as NaN

In [8]:
wine['alcohol'][:3]=np.nan

<ipython-input-8-f5799de89cbb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine['alcohol'][:3]=np.nan

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [9]:
wine['magnesium'][3:]=np.nan

<ipython-input-9-e976df34067a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine['magnesium'][3:]=np.nan

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [10]:
wine['alcohol']=wine['alcohol'].fillna('10')
wine['magnesium']=wine['magnesium'].fillna('100')
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10,1.71,15.6,127.0,3.06,2.29,1.04
1,10,1.78,11.2,100.0,2.76,1.28,1.05
2,10,2.36,18.6,101.0,3.24,2.81,1.03
3,14.37,1.95,16.8,100,3.49,2.18,0.86
4,13.24,2.59,21.0,100,2.69,1.82,1.04

### Step 9. Count the number of missing values in all columns.

In [11]:
wine.isnull().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10 and save it.

In [12]:
x=np.random.randint(10,size=10)
x

array([5, 9, 6, 8, 7, 9, 9, 1, 4, 7])

### Step 11.  Set the rows corresponding to the random numbers to NaN in the column *alcohol*

In [13]:
wine['alcohol'][1,4]=np.nan

<ipython-input-13-de74477bd65f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine['alcohol'][1,4]=np.nan
C:\Users\harme\Anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

### Step 12.  How many missing values do we have now?

In [14]:
wine['alcohol'].isnull().sum()

2

### Step 14. Print only the non-null values in alcohol

In [15]:
 wine[~wine['alcohol'].isnull()]

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10,1.71,15.6,127.0,3.06,2.29,1.04
2,10,2.36,18.6,101.0,3.24,2.81,1.03
3,14.37,1.95,16.8,100,3.49,2.18,0.86

### Step 13. Delete the rows that contain missing values

In [16]:
wine=wine.drop(1)
wine=wine.drop(4)
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10,1.71,15.6,127.0,3.06,2.29,1.04
2,10,2.36,18.6,101.0,3.24,2.81,1.03
3,14.37,1.95,16.8,100,3.49,2.18,0.86

### Step 15.  Reset the index, so it starts with 0 again

In [17]:
wine.reset_index()

,index,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,0,10,1.71,15.6,127.0,3.06,2.29,1.04
1,2,10,2.36,18.6,101.0,3.24,2.81,1.03
2,3,14.37,1.95,16.8,100,3.49,2.18,0.86

In [20]:
wine.info()
#wine=wine.drop(columns=['index'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 3
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   alcohol            3 non-null      object
 1   malic_acid         3 non-null      float64
 2   alcalinity_of_ash  3 non-null      float64
 3   magnesium          3 non-null      object
 4   flavanoids         3 non-null      float64
 5   proanthocyanins    3 non-null      float64
 6   hue                3 non-null      float64
dtypes: float64(5), object(2)
memory usage: 192.0+ bytes