#### 1. Write a Python script to display the
#### a. Current date and time
#### b. Current year
#### c. Month of year
#### d. Week number of the year
#### e. Weekday of the week
#### f. Day of year
#### g. Day of the month
#### h. Day of week

In [1]:
import pandas as pd
import numpy as np

In [19]:
import datetime as dt
x=dt.datetime.now()
print(x)
print(x.year)
print(x.month)
print(x.isocalendar()[1])
print(x.strftime('%A'))
print(x.timetuple().tm_yday)
print(x.day)
print(x.isocalendar()[2])

2022-01-07 16:07:30.231417
2022
1
1
Friday
7
7
5

#### 2. Write a Python program to convert a string to datetime.
Sample String : Jan 1 2014 2:43PM 

Expected Output : 2014-07-01 14:43:00

In [20]:
s='Jan 1 2014 2:43PM'
s=pd.to_datetime(s)
s

Timestamp('2014-01-01 14:43:00')

#### 3. Write a Python program to subtract five days from current date.

Current Date : 2015-06-22

5 days before Current Date : 2015-06-17

In [22]:
x=s-dt.timedelta(5)
x

Timestamp('2013-12-27 14:43:00')

#### 4. Write a Python program to convert unix timestamp string to readable date.

Sample Unix timestamp string : 1284105682
    
Expected Output : 2010-09-10 13:31:22

In [24]:
x=int(1284105682)
x=dt.datetime.utcfromtimestamp(x).strftime('%Y-%m-%d %H:%M:%S')
x

'2010-09-10 08:01:22'

#### 5. Convert the below Series to pandas datetime : 

DoB = pd.Series(["07Sep59","01Jan55","15Dec47","11Jul42"])

Make sure that the year is 19XX not 20XX

In [31]:
x = pd.Series(["07Sep59","01Jan55","15Dec47","11Jul42"])
x=x.apply(lambda x:dt.datetime.strptime(x,'%d%b%y'))
x=x-pd.offsets.DateOffset(years=100)
x

0   1959-09-07
1   1955-01-01
2   1947-12-15
3   1942-07-11
dtype: datetime64[ns]

#### 6. Write a Python program to get days between two dates.

In [32]:
date1 = dt.date(2020, 2, 25)
date2 = dt.date(2019, 8, 25)
x = date1 - date2
print(x.days)

184

#### 7. Convert the below date to datetime and then change its display format using the .dt module

Date = "15Dec1989"

Result : "Friday, 15 Dec 98"

In [39]:
Date = "15Dec1989"
b=dt.datetime.strptime(Date,'%d%b%Y')
f=dt.datetime.strftime(b,'%A, %d %b %y')
f

'Friday, 15 Dec 89'